<div class="container">
  <div class="row">
    {% for post in related %}
    <div class="col-md-{{ columns(related|length) }}">
      <div class="card">
        {% if post.thumbnail %}
        <div class="card-img-top -background-image" style="background-image: url('{{ post.thumbnail.src }}');"></div>
        {% endif %}

        <div class="card-block">
          <h3 class="card-title"><a href="{{ post.get_link }}">{{ post.title }}</a></h3>
          <p class="card-text">{{ post.get_preview(20, true, false) }}</p>
          <a href="{{ post.get_link }}" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
